---
import Markdown from "@/components/Markdown.astro";
import { getSummary } from "@/services/summary";
import { getContactInfo } from "@/services/contact";

const { title, statement } = await getSummary();
const contactInfo = await getContactInfo(Astro.locals.user);
---

<div class="flex flex-col w-full gap-6 print:gap-2">
    <div class="flex flex-col gap-2">
        <div class="text-lg font-medium">Nicholas Quandt</div>
        <div class="font-bold">{title}</div>

        {contactInfo.email && (
            <div class="text-sm">
                <a href={`mailto:${contactInfo.email}`} target="_blank" rel="noopener">{contactInfo.email}</a>
            </div>
        )}
        {contactInfo.phone && (
            <div class="text-sm">
                <a href={`tel:${contactInfo.phone}`} target="_blank" rel="noopener">{contactInfo.phone}</a>
            </div>
        )}

        <div class="flex flex-col gap-1 mt-2">
            <a href="https://www.linkedin.com/in/nquandt" target="_blank" rel="noopener" class="text-sm text-blue-600 dark:text-blue-400">https://linkedin.com/in/nquandt</a>
            <a href="https://github.com/nquandt" target="_blank" rel="noopener" class="text-sm text-blue-600 dark:text-blue-400">https://github.com/nquandt</a>
        </div>
    </div>

    <Markdown content={statement} />
</div>
